@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Righteous&display=swap");

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  line-height: 1.3;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* typography */
label {
  font-size: 1.1rem;
}

#title {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}

/* transparent background */
div::after {
  content: "";
  background: url("https://i.imgur.com/lB1iwnw.jpg");
  opacity: 0.02;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

/* containers */
header {
  text-align: center;
  color: brown;
  font-family: "Righteous", cursive;
  margin-top: 2rem;
  width: 30%;
  min-width: 320px;
}

form {
  background: rgba(237, 145, 33, 0.4);
  border: 3px solid brown;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
  padding: 1rem;
  width: 30%;
  min-width: 320px;
}

/* forms and inputs */

.forms {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.4rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

select {
  padding: 0.3rem;
  border-radius: 4px;
}

.buttons {
  display: flex;
}

input[type="radio"] {
  margin-right: 0.5rem;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 0.6rem 0;
  border: none;
  background-color: rgb(156, 89, 11);
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 3px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: rgb(189, 110, 20);
}

/* tablet */
@media (max-width: 768px) {
  header {
    width: 80%;
  }
  form {
    width: 80%;
  }
}

/* mobile */
@media (max-width: 415px) {
  header {
    width: 100%;
    padding: 0 0.3rem;
  }
  form {
    width: 100%;
  }
  #description {
    margin-bottom: 0.5rem;
  }
}
