$green-color: #18cfab;
$green-header-color: #18cfa8;
$blue-color: #00cbf6;
$dark-background: #1c2a33;
$white-color: #fff;
$header-bg: #3c3c3c;
$navigation-bg: #44433e;
$slider-bg: #1f1f1f;
$subheader-text-color: #d4d4d4;
$section-title-text: #4e4e4e;
$progress-bar-pink: #9c5da5;
$progress-bar-yellow: #bb8a36;
$link-color: #b8b8b8;
$current-link: #2a977f;
$dark-green: #24413e;

$font-size-13: 13px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-35: 35px;
$font-size-48: 48px;
$font-size-79: 79px;
